@import url(https://fonts.googleapis.com/css?family=Antic+Slab);

.test {
  font-family: 'Antic Slab';
  text-align: center;
  font-size: 25px;
  color: #A8C093;
}

body {
  background-color: #898A86;
}

#wrapper {
  max-width: 888px;
  margin: 50px auto;
  padding: 80px 80px;
  background-color: #EDEDED;
}

#footer /*this means footer is an id*/{
  text-align: right;
  border-top: 0.5px solid black;
  padding-top: 10px;
}

#header {
  border-bottom: 0.5px solid black;
  padding-bottom: 20px;
}

#logo {
  font-family: 'Antic Slab';
  font-size: 30px;
  text-align: center;
  display: block;
  position: absolute;
  width: 888px;
  margin-top: -45px;
}

#navigation {
  list-style-type: none;
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 0;
}

#navigation li {
  font-family: 'Antic Slab';
  font-size: 20px;
  display: block;
  width: auto;
  position: absolute;
  text-align: center;
}

#navigation #nav_link1 {
  left: 5%;
}

#navigation #nav_link2 {
  left: 25%;
}

#navigation #nav_link3 {
  right: 25%;
}

#navigation #nav_link4 {
  right: 5%;
}

#logo a {
  color: #00acc8;
}

body a {
  text-decoration: none;
  color: #00acc8
}
